* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", Arial, sans-serif;
  height: 100%;
  width: 100%;
}

header {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  color: #fff;
  background-color: #1f1f1f;
  background-image: url("./assets/images/signature.png");
  background-size: 160%;
  background-repeat: no-repeat;
  background-position: 50% 50vh;
}
header::after {
  content: "";
  position: absolute;
  bottom: -190px;
  width: 100%;
  overflow: hidden;
  height: 195px;
  background: url("./assets/images/headerBottom.svg");
  background-size: 102%;
  background-repeat: no-repeat;
}
header nav {
  background-color: rgba(245, 245, 245, 0.98);
  border-bottom: solid #efefef 0.1rem;
  width: 100%;
  height: 10rem;
  padding: 0 1rem;
  position: fixed;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  z-index: 1;
}
header nav a {
  color: #404040;
  text-decoration: none;
  font-size: 2.5rem;
}
header nav a:first-child {
  display: none;
}
header nav #resume {
  color: #1474ba;
}
header h1 {
  font-size: 8rem;
  font-weight: 900;
  text-align: center;
  margin: auto;
  margin-bottom: 0;
}
header h3 {
  margin: auto;
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: 400;
}
header h3 span {
  color: #fac820;
  font-style: italic;
}

main {
  color: #404040;
  display: grid;
  padding: 25vh 0;
  grid-row-gap: 25rem;
  place-items: center;
  text-align: center;
}
main h2 {
  font-size: 7rem;
  font-weight: 900;
  margin-bottom: 0;
}
main h3 {
  font-size: 2.8rem;
  font-weight: 700;
  font-weight: normal;
}
main section,
main address {
  padding-top: 10rem;
}
main #about {
  padding: 10rem 2rem 0 2rem;
}
main #about #memoji {
  width: 20rem;
  border-radius: 100%;
}
main #about p {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 300;
  color: #1f1f1f;
}
main #projects {
  width: 100%;
}
main #projects h3 a {
  text-decoration: none;
  color: #1474ba;
}
main #projects .project {
  margin-top: 5rem;
  padding: 10rem 1rem;
  background-color: #1f1f1f;
  color: white;
}
main #projects .project p {
  margin: auto;
  font-size: 3.5rem;
  font-weight: 300;
}
main #projects .project__img {
  width: 95vw;
  max-width: 70rem;
  border-radius: 0.1rem;
  margin: 6rem auto;
}
main #skills h2 {
  margin-bottom: 4rem;
}
main #skills ul {
  padding: 0;
  margin: 0;
  column-count: 2;
  column-gap: 5rem;
}
main #skills ul li {
  list-style-type: none;
  font-size: 3.5rem;
  font-weight: 300;
  color: #1f1f1f;
  padding: 3rem 2rem;
  text-align: center;
}
main address {
  height: 65rem;
  font-style: normal;
}
main address h2 {
  margin-bottom: 4rem;
}
main address span {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
  width: 52rem;
  margin: 1.5rem 0;
  text-align: left;
}
main address span a {
  font-weight: 300;
  color: #1f1f1f;
  text-decoration: none;
}

footer {
  height: 70vh;
  background-color: #1f1f1f;
  padding-top: 5rem;
  position: relative;
}
footer nav {
  display: grid;
  grid-row-gap: 8rem;
}
footer nav .logo {
  width: 40rem;
}
footer nav .footer-icon {
  width: 8rem;
}
footer p {
  position: absolute;
  width: 100vw;
  bottom: 0rem;
  font-size: 2.5rem;
}
footer p,
footer a {
  color: #5c5c5c;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
