@import "./variables";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Heebo", sans-serif, Arial;
  height: 100%;
  width: 100%;
}

header {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  color: #fff;
  background-color: darkColor(dark);

  #signature {
    position: absolute;
    width: 60vw;
    max-width: 50rem;
    min-width: 15rem;
    bottom: -20vw;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -19vw;
    width: 100%;
    background: url("./assets/images/headerBottom.svg") no-repeat center center;
    background-size: 102%;
    height: 20vw;
  }

  nav {
    background-color: rgba(245, 245, 245, 0.98);
    border-bottom: solid lightColor(medium) 0.1rem;
    width: 100%;
    position: fixed;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    z-index: 3;

    a {
      width: 100%;
      text-align: center;
      color: darkColor(medium);
      text-decoration: none;
      font-size: 0.8rem;
      padding: 1.5rem 0.75rem;
    }

    a:first-child {
      display: none;
    }
    #resume {
      color: $primary-color;
    }
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    margin: auto;
    margin-bottom: 0;
    z-index: 2;
    #title-break {
      display: none;
    }
  }

  h3 {
    margin: auto;
    text-align: center;
    margin-top: 1rem;
    font-size: 0.95rem;
    font-weight: 400;
    z-index: 2;

    span {
      color: $secondary-color;
      font-style: italic;
    }
  }
}

main {
  color: darkColor(medium);
  display: grid;
  padding: 25vw 0;
  grid-row-gap: 10rem;
  place-items: center;
  text-align: center;
  h2 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 0;
  }
  h3 {
    font-size: 1.05rem;
    font-weight: 700;
    font-weight: normal;
  }

  section,
  address {
    padding-top: 5rem;
    max-width: 35rem;
  }

  #about {
    padding: 5rem 0.5rem 0 0.5rem;
    #memoji {
      width: 5rem;
      border-radius: 100%;
    }

    p {
      text-align: center;
      font-size: 1rem;
      font-weight: 300;
      color: darkColor(dark);
    }
  }

  #projects {
    width: 100%;
    max-width: 100%;
    h3 {
      a {
        text-decoration: none;
        color: $primary-color;
      }
    }

    h4 {
      color: #a7a7a7;
      font-weight: 300;
    }

    .project {
      margin-top: 2rem;
      padding: 5rem 0.5rem;
      background-color: darkColor(dark);
      color: white;

      p {
        margin: auto;
        font-size: 1rem;
        font-weight: 300;
        max-width: 30rem;
      }
      &__img {
        width: 15rem;
        border-radius: 0.1rem;
        margin: 2rem 1rem;
      }
    }
  }

  #skills {
    h2 {
      margin-bottom: 2rem;
    }
    ul {
      padding: 0;
      margin: 0;
      column-count: 2;
      column-gap: 0rem;
      li {
        list-style-type: none;
        font-size: 1rem;
        font-weight: 300;
        color: darkColor(dark);
        padding: 1rem 2rem;
        text-align: center;
      }
    }
  }

  address {
    font-style: normal;
    h2 {
      margin-bottom: 1rem;
    }
    span {
      display: inline-block;
      font-size: 1rem;
      font-weight: 700;
      width: 15rem;
      margin: 0.5rem 0;
      text-align: left;
      a {
        font-weight: 300;
        color: darkColor(dark);
        text-decoration: none;
      }
    }
  }
}

footer {
  height: 25rem;
  margin-top: 10rem;
  background-color: darkColor(dark);
  padding-top: 1.5rem;
  position: relative;

  nav {
    display: grid;
    grid-row-gap: 3rem;

    .logo {
      width: 10rem;
    }

    .footer-icon {
      width: 3rem;
    }
  }

  p {
    position: absolute;
    width: 100vw;
    bottom: 0rem;
    font-size: 0.75rem;
  }
  p,
  a {
    color: darkColor(light);
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  header {
    grid-template-rows: 3fr 2fr;
    nav {
      grid-template-columns: 8fr repeat(4, 1fr);
      a:first-child {
        display: inline;
        width: 9rem;
        justify-self: start;
        padding: 0.4rem 1rem 0.2rem 1rem;
        img {
          width: 7rem;
        }
      }
      a {
        padding: 1.5rem 2.5rem;
      }
    }

    h1 {
      font-size: 3.75rem;
      text-align: left;
      line-height: 3.75rem;
      width: 25rem;

      #title-break {
        display: inherit;
      }
    }

    h3 {
      font-size: 1.25rem;
      width: 25rem;
    }

    #signature {
      bottom: -25vw;
    }
  }
}
