* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Heebo", sans-serif, Arial;
  height: 100%;
  width: 100%;
}

header {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  color: #fff;
  background-color: #1f1f1f;
}
header #signature {
  position: absolute;
  width: 60vw;
  max-width: 50rem;
  min-width: 15rem;
  bottom: -20vw;
  z-index: 1;
}
header::after {
  content: "";
  position: absolute;
  bottom: -19vw;
  width: 100%;
  background: url("./assets/images/headerBottom.svg") no-repeat center center;
  background-size: 102%;
  height: 20vw;
}
header nav {
  background-color: rgba(245, 245, 245, 0.98);
  border-bottom: solid #efefef 0.1rem;
  width: 100%;
  position: fixed;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  z-index: 3;
}
header nav a {
  width: 100%;
  text-align: center;
  color: #404040;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 1.5rem 0.75rem;
}
header nav a:first-child {
  display: none;
}
header nav #resume {
  color: #1474ba;
}
header h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  margin: auto;
  margin-bottom: 0;
  z-index: 2;
}
header h1 #title-break {
  display: none;
}
header h3 {
  margin: auto;
  text-align: center;
  margin-top: 1rem;
  font-size: 0.95rem;
  font-weight: 400;
  z-index: 2;
}
header h3 span {
  color: #fac820;
  font-style: italic;
}

main {
  color: #404040;
  display: grid;
  padding: 25vw 0;
  grid-row-gap: 10rem;
  place-items: center;
  text-align: center;
}
main h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 0;
}
main h3 {
  font-size: 1.05rem;
  font-weight: 700;
  font-weight: normal;
}
main section,
main address {
  padding-top: 5rem;
  max-width: 35rem;
}
main #about {
  padding: 5rem 0.5rem 0 0.5rem;
}
main #about #memoji {
  width: 5rem;
  border-radius: 100%;
}
main #about p {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  color: #1f1f1f;
}
main #projects {
  width: 100%;
  max-width: 100%;
}
main #projects h3 a {
  text-decoration: none;
  color: #1474ba;
}
main #projects h4 {
  color: #a7a7a7;
  font-weight: 300;
}
main #projects .project {
  margin-top: 2rem;
  padding: 5rem 0.5rem;
  background-color: #1f1f1f;
  color: white;
}
main #projects .project p {
  margin: auto;
  font-size: 1rem;
  font-weight: 300;
  max-width: 30rem;
}
main #projects .project__img {
  width: 15rem;
  border-radius: 0.1rem;
  margin: 2rem 1rem;
}
main #skills h2 {
  margin-bottom: 2rem;
}
main #skills ul {
  padding: 0;
  margin: 0;
  column-count: 2;
  column-gap: 0rem;
}
main #skills ul li {
  list-style-type: none;
  font-size: 1rem;
  font-weight: 300;
  color: #1f1f1f;
  padding: 1rem 2rem;
  text-align: center;
}
main address {
  font-style: normal;
}
main address h2 {
  margin-bottom: 1rem;
}
main address span {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  width: 15rem;
  margin: 0.5rem 0;
  text-align: left;
}
main address span a {
  font-weight: 300;
  color: #1f1f1f;
  text-decoration: none;
}

footer {
  height: 25rem;
  margin-top: 10rem;
  background-color: #1f1f1f;
  padding-top: 1.5rem;
  position: relative;
}
footer nav {
  display: grid;
  grid-row-gap: 3rem;
}
footer nav .logo {
  width: 10rem;
}
footer nav .footer-icon {
  width: 3rem;
}
footer p {
  position: absolute;
  width: 100vw;
  bottom: 0rem;
  font-size: 0.75rem;
}
footer p,
footer a {
  color: #5c5c5c;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  header {
    grid-template-rows: 3fr 2fr;
  }
  header nav {
    grid-template-columns: 8fr repeat(4, 1fr);
  }
  header nav a:first-child {
    display: inline;
    width: 9rem;
    justify-self: start;
    padding: 0.4rem 1rem 0.2rem 1rem;
  }
  header nav a:first-child img {
    width: 7rem;
  }
  header nav a {
    padding: 1.5rem 2.5rem;
  }
  header h1 {
    font-size: 3.75rem;
    text-align: left;
    line-height: 3.75rem;
    width: 25rem;
  }
  header h1 #title-break {
    display: inherit;
  }
  header h3 {
    font-size: 1.25rem;
    width: 25rem;
  }
  header #signature {
    bottom: -25vw;
  }
}

/*# sourceMappingURL=styles.css.map */
